body {
    max-width: 100vh;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    margin: 5px;
}
nav li {
    display: inline-block;
    margin-left: 10px;
    background-color:darkmagenta;
}

header nav{
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}
.maininf {
    max-width: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    flex-direction: row;
    height: 220px;
}
.maininf img{
    width: 240px;
    height: 220px;
    position: inherit;
}
.mainname {
    color: aliceblue;
    font-size: 12px;
    background-color: darkgreen;

}
.aboutme {
    margin: 0 auto;
}
h2{
    background-color: darkgoldenrod;
    color: crimson;
    font-style:italic;
    margin-top: 0%;
}
.ifabme{
    width:fit-content;
    background-color: darkslateblue;
    color: aliceblue;
}
.contacts {
    margin-top: 5px;
    color: aliceblue;
}
#cont {
    margin-bottom: 0px;
}
.contacts li a{
    text-decoration: none;
    color: aliceblue;
}
.conta {
    color: aliceblue;
    height: fit-content;
    width: max-content;
    background-color: darkkhaki;
}
li::marker {
    color: darkgray;
}
.courses {
    text-decoration: none;
    color: aliceblue;
    width: max-content;
    background-color: darkcyan;
}
.courses li a {
    text-decoration: none;
    color:aliceblue;
}
.edu{
    margin-top: 0px;
}
.code {
    color: aliceblue;
}
.Languages {
    color: aliceblue;
}
footer {
    background-color: darkgoldenrod;
    color: aliceblue
}
footer img {
    display: flex;
    width: 250px;
}
